@import-normalize;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #141414;
}

p {
  margin-inline: 0;
  margin-block: 0;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

button {
  border: none;
}
