name: deploy-backend-ecr

on:
  pull_request:
    branches:
      - main
    paths:
      - packages/api/**

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag protft

      - name: Push to ECR
        id: ecr
        uses: jwalton/gh-ecr-push@v1
        with:
          access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: ${{ secrets.S3_BUCKET_REGION }}
          local-image: protft
          image: ${{ secrets.ECR_REPO }}
